.header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 12px;
  align-items: center;
  position: relative;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.menu-icon {
  font-size: 24px;
}

.mobile-menu {
  display: none;
}

.web-menu {
  display: flex;
}

.logo {
  display: flex;
  font-size: 36px;
  color: blueviolet;
  font-weight: 800;
}

/* Responsiveness*/

@media only screen and (max-width: 720px) {
  .mobile-menu {
    display: flex;
  }
  .web-menu {
    display: none;
  }
  .logo {
    font-size: 24px;
  }
}

/* WEb cSS */
.web {
  display: flex;
  flex: 1;
  align-items: center;
}

.web-option {
  font-size: 20px;
  margin: 1rem;
  font-weight: 700;
}

.web-option a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}
.web-option:last-child {
  margin-right: 0;
}

.option-icon {
  display: flex;
  align-items: center;
  margin-right: 4px;
}
