.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

}

.viewing {
  display: flex;
  align-items: center;
}

#visits {
  margin-left: 0.70em;
  font-weight: 550;
}